<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="static/img/icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">
                <img class="navbar-icon" src="static/img/icon.svg" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">¿Quiénes somos?</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Temario
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Tecnología 5G</a>
                            <a class="dropdown-item" href="#">Nanotecnología</a>
                            <a class="dropdown-item" href="#">Internet of Things</a>
                            <a class="dropdown-item" href="/machine-learning">Machine Learning</a>
                            <a class="dropdown-item" href="#">Robotic Process Automatization</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contáctenos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Main -->
    <main class="main">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>© Todos los Derechos Reservados</p>
    </footer>

    <!-- Scripts -->
    <script src="static/js/jquery-3.5.1.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/scripts.js"></script>
</body>

</html>