{% extends "en_base.html" %}

{% block title %}
TechnoRevista
{% endblock %}

{% block content %}
<!-- Banner -->
<section>
    <div class="main-banner">
        <div class="banner-title">
            <h1>TechnoRevista</h1>
            <p>
                {{ translate(text='Este es un espacio en el que ofrecemos la información más importante y avanzada
                del mundo tecnológico. Abarca los temas más controversiales e interesantes de las nuevas
                tecnologías que existen en la actualidad, en un mundo que encierra métodos, y aplicaciones
                que se pueden ver en un futuro en este mundo moderno.', src='es', dest=['en']) }}
            </p>
        </div>
        <div class="img-banner-container" id="imgBannerContainer">
            <img class="banner-img" src="/static/img/banner-img.jpg" alt="CPU">
        </div>
    </div>
</section>
<!-- Sección 2 -->
<section>
    <div>
        <article class="home-article">
            <h2>Our Project</h2>
            <p>
                {{ translate(text='Este sitio está conformado por un grupo de estudiantes de Ingeniería en TI,
                de la Universidad Técnica Nacional (UTN). Nuestro objetivo es brindar un
                conocimiento amplio hacia sus mejores métodos de aplicación e información
                importante; para así tener una mejor comprensión y tranquilidad en su futuro
                recorrido por la evolución de mejores tecnologías para el bien común. Esperamos
                que este sea un sitio de utilidad para su mejor uso e información. TechnoRevista', src='es',
                dest=['en']) }}
            </p>
        </article>
    </div>
</section>
<!-- Sección 3 -->
<section>
    <div class="text-center">
        <h2 id="aboutus">About Us</h2>
        <div class="card-container">
            <a class="card" href="/en/tecnologia-5g">
                <h3>5G</h3>
                <p>{{ translate(text='Está diseñada para aumentar la velocidad, reducir la latencia y mejorar la flexibilidad de los
                    servicios inalámbricos.', src='es', dest=['en']) }} </p>
            </a>
            <a class="card" href="/en/iot">
                <h3>IoT</h3>
                <p>
                    {{ translate(text='Conectar cualquier objeto de nuestras vidas cotidianas ha pasado de ser ciencia ficción.', src='es', dest=['en']) }}
                </p>
            </a>
            <a class="card" href="/en/nanotecnologia">
                <h3>Nanotechnology</h3>
                <p>{{ translate(text='La Nanotecnología es una rama en la que la ciencia y la tecnologia se unen para formar una gran avances en cantidades nanometricas', src='es', dest=['en']) }}</p>
            </a>
            <a class="card" href="/en/machine-learning">
                <h3>Machine Learning</h3>
                <p>{{ translate(text='"La estadística es sin duda la base fundamental del aprendizaje automático."', src='es', dest=['en']) }} </p>
            </a>
            <a class="card" href="/en/rpa">
                <h3>RPA</h3>
                <p>{{ translate(text='La Automatización de Procesos Automáticos 
                    es la ciencia tecnológica que permite configurar un software o 
                    “robot” para controlar e interpretar las aplicaciones ya existentes y 
                    poder procesar una transacción, manipular datos, comunicarse con otros sistemas digitales.', src='es', dest=['en']) }}</p>
            </a>
        </div>
    </div>
</section>
{% endblock %}