<!DOCTYPE html>
<html lang="es" id="html">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Esto es un espacio en el que ofrecemos la información más importante y avanzada
    del mundo tecnológico. Abarca los temas más controversiales e interesantes de las nuevas
    tecnologías que existen en la actualidad.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/img/icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Header -->
    <header class="header" id="header">
        <nav class="navbar navbar-expand-md navbar-dark" id="navbar">
            <a class="navbar-brand" href="/es/" id="iconContainer">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-cpu-fill" viewBox="0 0 16 16">
                    <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                    <path
                        d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z" />
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Temario
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/es/tecnologia-5g">Tecnología 5G</a>
                            <a class="dropdown-item" href="/es/nanotecnologia">Nanotecnología</a>
                            <a class="dropdown-item" href="/es/iot">Internet of Things</a>
                            <a class="dropdown-item" href="/es/machine-learning">Machine Learning</a>
                            <a class="dropdown-item" href="/es/rpa">Robotic Process Automatization</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/es/quienes-somos">¿Quiénes somos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contáctenos</a>
                    </li>
                </ul>
                <a class="btn btn-danger" href="/en">English</a>
            </div>
        </nav>
    </header>

    <!-- Main -->
    <main class="main">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>© Todos los Derechos Reservados. 2021</p>
    </footer>

    <!-- Up-button -->
    <div>
        <a href="#">
            <svg id="arroUpButton" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                class="bi bi-arrow-up-circle-fill arrow-up" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
            </svg>
        </a>
    </div>

    <!-- Scripts -->
    <script src="/static/js/jquery-3.5.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>

</html>