{% extends "es_base.html" %}

{% block title %}
Inicio
{% endblock %}

{% block content %}
<!-- Banner -->
<section>
    <div class="main-banner">
        <div class="banner-title">
            <h1>TechnoRevista</h1>
            <p>
                Este es un espacio en el que ofrecemos la información más importante y avanzada
                del mundo tecnológico. Abarca los temas más controversiales e interesantes de las nuevas
                tecnologías que existen en la actualidad, en un mundo que encierra métodos, y aplicaciones
                que se pueden ver en un futuro en este mundo moderno.
            </p>
        </div>
        <div class="img-banner-container" id="imgBannerContainer">
            <img class="banner-img" src="/static/img/banner-img.jpg" alt="CPU">
        </div>
    </div>
</section>
<!-- Sección 2 -->
<section>
    <div>
        <article class="home-article">
            <h2>Nuestro Proyecto</h2>
            <p>
                Este sitio está conformado por un grupo de estudiantes de Ingeniería en TI,
                de la Universidad Técnica Nacional (UTN). Nuestro objetivo es brindar un
                conocimiento amplio hacia sus mejores métodos de aplicación e información
                importante; para así tener una mejor comprensión y tranquilidad en su futuro
                recorrido por la evolución de mejores tecnologías para el bien común. Esperamos
                que este sea un sitio de utilidad para su mejor uso e información. TechnoRevista
            </p>
        </article>
    </div>
</section>
<!-- Sección 3 -->
<section>
    <div class="text-center">
        <h2>Temas destacados</h2>
        <div class="card-container">
            <a href="/es/tecnologia-5g">
                <div class="card">
                    <h3>5G</h3>
                    <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non nemo similique laborum
                        tempore vitae odio mollitia doloremque porro officiis dolore iste debitis deleniti.</p> -->
                </div>
            </a>
            <a href="/es/iot">
                <div class="card">
                    <h3>IoT</h3>
                    <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non nemo similique laborum
                        tempore vitae odio mollitia doloremque porro officiis dolore iste debitis deleniti.</p> -->
                </div>
            </a>
            <a href="/es/nanotecnologia">
                <div class="card">
                    <h3>Nanotecnología</h3>
                    <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non nemo similique laborum
                        tempore vitae odio mollitia doloremque porro officiis dolore iste debitis deleniti.</p> -->
                </div>
            </a>
            <a href="/es/machine-learning">
                <div class="card">
                    <h3>Machine Learning</h3>
                    <p>"La estadística es sin duda la base fundamental del aprendizaje automático."</p>
                </div>
            </a>
            <a href="/es/rpa">
                <div class="card">
                    <h3>RPA</h3>
                    <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non nemo similique laborum
                        tempore vitae odio mollitia doloremque porro officiis dolore iste debitis deleniti.</p> -->
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock %}