/* Layout */
:root {
    --header-height: 3em;
    --footer-height: 3em;
    --body-padding: 1em;
    --side-padding: 1em;
}

// Theme
$bg-main-color: #003355;
$bg-second-color: #637BAD;
$font-main-color: #EDF0F5;
$font-second-color: #333333;

/* Breakpoints */
$breakpoints: (
    md: 768px,
    lg: 1024px,
    xl: 1200px,
    xxl: 1440px
);