*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

h1, h2, h3 {
    margin-bottom: .5em;

    @include media(md) {
        margin-bottom: 1em;
    }
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

a {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

ul {
    list-style: none;
}