{% extends "en_base.html" %}

{% block title %}
    {{ translate(text='Tecnología 5G', src='es', dest=['en']) }}
{% endblock %}

{% block content %}
    <!-- Contenido de la página -->
    <section class="section-article">
        <h1 class="text-center">{{ translate(text='Tecnología 5G', src='es', dest=['en']) }}</h1>
        <div class="author">
            <div class="author-img-container">
                <img class="author-img" src="/static/img/Ayuwoki.jpg" alt="">
            </div>
            <div>
                <p class="author-nombre">Autor: Dixiana Gómez</p>
                <p>26 de febrero, 2021</p>
            </div>
        </div>
    
        <section>
            <p>{{ translate(text='Ejemplo de un texto de españo a inglés.', src='es', dest=['en']) }}</p>
            
        </section>
    </section>
{% endblock %}