{% extends "en_base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<section class="section-article">
    <h1 class="text-center">{{ title }}</h1>
    <div class="about-container">
        <div class="person">
            <p class="person-name">Arturo Morales</p>
            <a class="person-link" href="https://github.com/ArturoMorales93" target="_blank">ArturoMorales93</a>
        </div>
        <div class="person">
            <p class="person-name">Carlos Mairena</p>
            <a class="person-link" href="https://github.com/carlosmmairena" target="_blank">carlosmmairena</a>
        </div>
        <div class="person">
            <p class="person-name">Dixiana Gómez</p>
            <a class="person-link" href="https://github.com/dixi19" target="_blank">dixi19</a>
        </div>
        <div class="person">
            <p class="person-name">Efraín Araya</p>
            <a class="person-link" href="https://github.com/Efralejand31" target="_blank">Efralejand31</a>
        </div>
        <div class="person">
            <p class="person-name">Landia Morera</p>
            <a class="person-link" href="https://github.com/roweymorera" target="_blank">roweymorera</a>
        </div>
    </div>
</section>
{% endblock %}