{% extends "base.html" %}

{% block title %}
    Internet of Things
{% endblock %}

{% block content %}
<section class="section-article">
    <h1 class="text-center">Internet of Things</h1>
    <div class="author">
        <div class="author-img-container">
            <img class="author-img" src="/static/img/Ayuwoki.jpg" alt="">
        </div>
        <div>
            <p class="author-nombre">Autor: Carlos Mairena</p>
            <p>26 de febrero, 2021</p>
        </div>
    </div>

    <section>
        <p>Otro ejemplo de un texto de españo a inglés.</p>
        <p>Ejemplo de un texto de españo a inglés</p>
        <p>Ejemplo de un texto de españo a inglés</p>
        <p>Ejemplo de un texto de españo a inglés</p>
        <p>Ejemplo de un texto de españo a inglés</p>
        
    </section>
</section>
{% endblock %}