/* 
CSS propio para los estilos propios
*/

.iot-img {
    height: 100%;
    width:  100%;
    object-fit: cover;
    border-radius: 15px;
}
  
.iot-img-container {
  width:  100%;
  shape-outside: circle(1.5em);
  margin-bottom: 1.5em;
  @media screen (min-width: 768px){
        height: 250px;
  }
}


