@charset "UTF-8";
/*
Comando para compilar Sass en tiempo real y creando un map.
Ejecutarlo cada vez que se cree un nuevo archivo .scss

node-sass -w project/static/scss -o project/static/css --output-style=expanded --source-map=true

*/
/* Layout */
:root {
  --header-height: 3em;
  --footer-height: 3em;
  --body-padding: 1em;
  --side-padding: 1em;
}

/* Breakpoints */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

h1, h2, h3 {
  margin-bottom: .5em;
}

@media screen and (min-width: 768px) {
  h1, h2, h3 {
    margin-bottom: 1em;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* General */
body {
  display: grid;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
}

@media screen and (min-width: 1024px) {
  body {
    --header-height: 3.5em;
  }
}

@media screen and (min-width: 1440px) {
  body {
    --header-height: 4em;
    --footer-height: 3.5em;
  }
}

section {
  padding: 1.25em var(--body-padding);
}

@media screen and (min-width: 768px) {
  section {
    padding: 2em var(--body-padding);
  }
}

@media screen and (min-width: 1440px) {
  section {
    padding: 5em var(--body-padding);
  }
}

.header, .footer {
  padding: 0 var(--body-padding);
}

@media screen and (min-width: 1200px) {
  section, .header, .footer {
    --body-padding: 10em;
  }
}

@media screen and (min-width: 1440px) {
  section, .header, .footer {
    --body-padding: 15em;
  }
}

.side-padding {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}

@media screen and (min-width: 1024px) {
  .side-padding {
    --side-padding: 3em;
  }
}

@media screen and (min-width: 1440px) {
  .side-padding {
    --side-padding: 5em;
  }
}

.text-center {
  text-align: center;
}

/* Header */
.header {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

/* Baner */
section:first-child {
  position: relative;
}

.banner-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: .1;
}

.main-banner {
  height: 10em;
  display: flex;
}

@media screen and (min-width: 1024px) {
  .main-banner {
    height: 15em;
  }
}

@media screen and (min-width: 1200px) {
  .main-banner {
    height: 20em;
  }
}

.main-banner div {
  flex-grow: 1;
}

.banner-title {
  align-self: center;
}

.banner-title h1 {
  margin: 0;
}

.img-banner-container {
  /* Verificar que en el JS sea la misma media query */
}

@media screen and (min-width: 1024px) {
  .img-banner-container {
    display: flex;
    width: 50%;
    justify-content: center;
  }
}

.banner-img {
  /* Verificar que en el JS sea la misma media query */
}

@media screen and (min-width: 1024px) {
  .banner-img {
    align-self: center;
    max-width: 75%;
  }
}

@media screen and (min-width: 1440px) {
  .banner-img {
    align-self: initial;
  }
}

/* Main */
@media screen and (min-width: 768px) {
  .home-grid-container {
    display: grid;
    gap: 2em;
    grid-template-columns: 3fr 1fr;
  }
}

/* Sección 2 */
.home-article p {
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .home-article p {
    text-align: center;
  }
}

.temario-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

.temario-item {
  flex-grow: 1;
  min-height: 2.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temario-link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-wrap: break-word;
}

/* Sección 3 */
.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap-reverse;
  justify-content: space-evenly;
}

.card {
  padding: .5em;
  margin-bottom: 2em;
  max-width: 225px;
}

@media screen and (min-width: 1440px) {
  .card {
    max-width: 200px;
  }
}

.card img {
  margin-bottom: 1em;
}

.card h3 {
  margin-bottom: .5em;
}

.card p {
  text-align: justify;
}

.img-utn-container {
  display: flex;
  height: 100%;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  margin: 0;
}

/* Others */
@media screen and (min-width: 768px) {
  .section-article {
    --body-padding: 10em;
  }
}

@media screen and (min-width: 1024px) {
  .section-article {
    --body-padding: 15em;
  }
}

@media screen and (min-width: 1200px) {
  .section-article {
    --body-padding: 20em;
  }
}

@media screen and (min-width: 1440px) {
  .section-article {
    --body-padding: 25em;
  }
}

.section-article section {
  padding: initial;
}

.author {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .author {
    flex-direction: row;
    align-items: center;
  }
}

.author p {
  font-size: .8em;
  margin-bottom: .2em;
}

.author-img-container {
  height: 3em;
  width: 3em;
  shape-outside: circle(1.5em);
  margin-bottom: .5em;
}

@media screen and (min-width: 768px) {
  .author-img-container {
    margin-right: 1em;
  }
}

.author-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: circle(1.5em);
}

.author-nombre {
  font-weight: bold;
}

.header {
  background-color: #003355;
  box-shadow: 0 0.25em 0.5em #637BAD;
}

.footer {
  background-color: #003355;
  color: #EDF0F5;
}

/* Font */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  display: auto;
  src: local("Noto Sans JP"), url("/static/fonts/Roboto-Regular.ttf") format("woff2");
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  display: auto;
  src: local("Noto Sans JP"), url("/static/fonts/NotoSansJP-Regular.otf") format("woff2");
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

h1, h2, h3 {
  font-family: 'Noto Sans JP', sans-serif;
}

/* Navbar */
.navbar-icon {
  width: 1.75em;
}

@media screen and (min-width: 768px) {
  .navbar-icon {
    width: 2em;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #EDF0F5;
}

.navbar-collapse {
  background-color: #003355;
  padding-left: 1em;
}

.dropdown-menu {
  background-color: #003355;
  border: none;
}

.dropdown-item {
  color: #EDF0F5;
}

/* Main-sections */
section:nth-child(even) {
  background-color: #637BAD;
  color: #EDF0F5;
}

/* Banner */
.banner-img {
  border-radius: 25%;
  box-shadow: 0.25em 0.5em 1em #003355;
}

/* Sección 2 */
.temario-container {
  background-color: #003355;
}

.temario-item {
  border: 1px solid #637BAD;
}

.temario-item:first-child {
  font-size: 1.25em;
  font-weight: bold;
}

.temario-link {
  transition: .15s ease-in-out;
}

.temario-link:hover {
  background-color: #EDF0F5;
  color: #333333;
}

/* Sección 3 */
.card {
  font-size: .9em;
  background-color: #637BAD;
  color: #EDF0F5;
}

.card img {
  border-radius: 1em;
}

/*# sourceMappingURL=styles.css.map */