.header {
    background-color: $bg-main-color;
    border-bottom: 0 solid rgba(0, 51, 85, 0.22);
    transition: .25s;
}

.header-scrolled {
    background-color: $bg-second-color;
    border-bottom: 1px solid rgba(0, 51, 85, 0.22);
}

.footer {
    background-color: $bg-main-color;
    border-top: 1px solid rgba(229, 229, 229, 0.22);

    svg {
        margin-left: .25em;
        height: 1.25em;
        width: 1.25em;
    }
}

.arrow-up {
    color: transparent;
    cursor: default;
    transition: color .25s;
}

.arrow-up-show {
    color: rgba(128, 128, 128, 0.22);
    cursor: pointer;
}

/* Font */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    display: auto;
    src: local('Noto Sans JP'), url('/static/fonts/Roboto-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    display: auto;
    src: local('Noto Sans JP'), url('/static/fonts/NotoSansJP-Regular.otf') format('woff2');
}

body {    
    font-family: 'Roboto', sans-serif;
    background-color: $bg-main-color;
    color: $font-main-color;
}

h1, h2, h3 {
    font-family: 'Noto Sans JP', sans-serif;
}

/* Navbar */
.navbar {
    border-bottom: 1px solid rgba(99, 123, 173, 0.22);
}

.navbar-dark .navbar-nav .nav-link {
    color: $font-second-color;

    &:hover, &:active, &:focus {
        color: #000;
    }

    @include media(md) {
        color: $font-main-color;

        &:hover, &:active, &:focus {
            color: #BBB;
        }
    }
}

.navbar-collapse {
    background-color: rgba(229, 229, 229, 1);
    padding-left: 1em;

    @include media(md) {
        background-color: initial;
    }
}

.dropdown-menu {
    margin-left: -1em;
    border: none;
    font-size: inherit;

    @include media(md) {
        margin-left: 0;
    }
}

/* Main-sections */
section:nth-child(even) {
    background-color: $bg-second-color;
    color: $font-main-color;
}

/* Banner */
.banner-img {
    border-radius: 25%;
}

/* Sección 2 */

/* Sección 3 */
.card-container {

    & a:nth-child(1) {
        background-color: #7d3865;
    }

    & a:nth-child(2) {
        background-color: #c1a7b0;
    }
    
    & a:nth-child(3) {        
        background-color: darken($color: #f8b703, $amount: 5);
    }
    
    & a:nth-child(4) {
        background-color: #949217;
    }
    
    & a:nth-child(5) {
        background-color: #0fa2a9;
    }
}

.card {
    --time: .5s;
    font-size: .9em;
    border-radius: 1em;
    color: $font-main-color;
    overflow: hidden;
    transition: var(--time);

    h3 {
        font-size: 1.25em;
        transition: var(--time);

        @include media(lg) {
            font-size: 1.5em;
        }
    }

    p {
        display: none;

        @include media(lg) {
            display: block;
            position: absolute;
            transform: translate3d(0, 175%, 0);
            transition: var(--time);
        }
    }

    &::after {

        @include media(lg) {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border: 1px solid #fff;
            left: 0;
            top: 0;
            clip-path: polygon(0 0, 0 0, 0 0, 0 0, 0 0);
        }
    }

    &:hover::after {
        @include media(lg) {
            animation: bordes var(--time) forwards;
        }
    }

    &:hover {
        @include media(lg){
            transform: scale(1.05);        

            @keyframes bordes {
                35% {
                    clip-path: polygon(0 0, 100% 0, 100% 1px, 0 1px, 0 1px);
                }
    
                50% {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 1px, 0 1px);
                }
    
                85% {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10% 100%);
                }
    
                100% {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
                }
            }
    
            h3 {
                transform: translate3d(0, -150%, 0);
            }
    
            p {
                transform: translate3d(0, 30%, 0);;
            }
        }        
    }
}

/* Others */
.section-article {
    color: $font-second-color;
    background-color: #DDE;

    &>p {
        border-bottom: 1px solid rgba(0, 51, 85, 0.22);
        padding-bottom: 1.5em;
        margin-bottom: 2em;
    }

    section {
        color: inherit;
        background-color: inherit;
    }
}

.author {
    font-size: .85em;

    a{
        display: block;
        margin-top: 2em;
        color: $bg-second-color;
    }
}

.author-nombre {
    font-weight: bold;
}

.person-name {
    font-size: 1.25em;
}

.person-link {
    color: $bg-second-color;
    font-size: .9em;
    display: flex;
    
    &::after{
        content: '';
        display: block;
        background: url('/static/img/github.svg') no-repeat;
        background-size: contain;
        width: 1.25em;
        margin-left: .5em;
    }
}

.repository-link {
    font-size: 1.25em;
}