{% extends "en_base.html" %}

{% block title %}
    {{ translate(text='Nanotecnología', src='es', dest=['en']) }}
{% endblock %}

{% block content %}
    <!-- Contenido de la página -->
    <section class="section-article">
        <h1 class="text-center">{{ translate(text='Nanotecnología', src='es', dest=['en']) }}</h1>
        <p>{{ translate(text='La Nanotecnología, es el estudio y desarrollo de sistemas en escala nanométrica, “nano” es un prefijo del Sistema Internacional de Unidades que viene del griego <i>νάνος</i> que significa enano, y corresponde a un factor 10^-9, que, aplicado a las unidades de longitud, corresponde a una mil millonésima parte de un metro (10^-9 Metros) es decir 1 Nanómetro.
            En esta escala se observan propiedades y fenómenos totalmente nuevos, que se rigen bajo las leyes de la Mecánica Cuántica, estas nuevas propiedades son las que los científicos aprovechan para crear nuevos materiales (nanomateriales) o dispositivos nanotecnológicos.
            La Nanotecnología promete soluciones a múltiples problemas que enfrenta actualmente la humanidad, como los ambientales, energéticos, de salud (nanomedicina), y muchos otros, sin embargo, estas nuevas tecnologías pueden conllevar a riesgos y peligros si son mal utilizadas.
            ', src='es', dest=['en']) }}</p>
        <div>
            <img src="\static\img\landia\nano.jpg" alt="nanotecnología">
        </div>
        <div class="author">
            <div>
                <p class="author-nombre">Autor: Landia Rowey</p>
                <p>26 de febrero, 2021</p>
                <a href="/es/nanotecnologia">Leer en Español</a>
            </div>
        </div>
    
        <section>
            <!-- Contenido  -->
            <h2>{{ translate(text='Historia de la Nanotecnología', src='es', dest=['en']) }}</h2>
            <p>{{ translate(text='Uno de los pioneros en el campo de la Nanotecnología es el Físico estadounidense Richard Feynman, que en el año 1959 en un congreso de la 
                sociedad americana de Física en Calltech, pronunció el discurso “There’s Plenty of Room at the Bottom” (Hay mucho espacio ahí abajo) 
                en el que describe un proceso que permitiría manipular átomos y moléculas en forma individual, a través de instrumentos de gran precisión, de esta forma se 
                podrían diseñar y construir sistemas en la nanoescala, átomo por átomo, en este discurso Feynman también advierte que las propiedades 
                de estos sistemas nanométricos, serían distintas a las presentes en la microescala.', src='es', dest=['en']) }}</p>
            
            <p>{{ translate(text='En 1981, el ingeniero norteamericano Eric Drexler, inspirado en el discurso de Feynman, publica en la revista Proceedings of the National Academy of Sciences, 
                el artículo “Molecular engineering: An approach to the development of general capabilities for molecular manipulation” 
                en donde describe con más detalle lo avanzado en años anteriores por Feynman. El término “Nanotecnología” fue aplicado por primera vez por Drexler en el año 1986, en su libro 
                “Motores de la creación: la próxima era de la Nanotecnología” en la que describe una máquina nanotecnológica con capacidad de 
                autorreplicarse, en este contexto propuso el término de “plaga gris”, para referirse a lo que sucedería si un nanobot auto replicante fuera liberado en el ambiente.', src='es', dest=['en']) }}</p>

            <p>{{ translate(text='Además de Drexler, el científico japonés Norio Taniguchi, utilizó por primera vez el término nanotecnología en el año 1974, en la que define a la nanotecnología 
                como el procesamiento, separación y manipulación de materiales átomo por átomo.', src='es', dest=['en']) }}</p>

            <p>{{ translate(text='La nanotecnología también está moviéndose cuidadosa, amplia y rápidamente a las ramas de la medicina la cual significa que esta rama de la tecnología y ciencia puede llegar a 
                cualquier esquina, lo cual esto puedo ayudar al mejoramiento avanzado de la salud, en recuperaciones rápidas de 
                enfermedades tanto simples como complejas y peligrosas; así también como en la reconstrucción interiormente de un órgano, en fin, el único límite que existe es nuestra propia mente. 
                Esto puede ayudar grandemente y una página del TEC de una de las universidades de Costa Rica, habla sobre esto.', src='es', dest=['en']) }}</p>

            <p>{{ translate(text='El diseño, la creación y el control, así como la aplicación de materiales, dispositivos y sistemas que sean manipulados a una nano escala, es decir a niveles que implican 
                casi el nivel molecular, ha logrado que diversas áreas de la ciencia y la tecnología puedan tener nuevos campos de acción de la mano de esta rama. 
                Uno de ellos es la nano medicina, área de esta ciencia en la que el TEC ha trabajado para beneficio de personas con necesidades en distintos campos de la medicina.', src='es', dest=['en']) }}</p>

            <p>{{ translate(text='Parte de las investigaciones realizadas se han centrado en desarrollar una nano aleación de titanio, aluminio y niobio, de manera tal que esta combinación de materiales genere 
                nuevos dispositivos médicos, así como la posibilidad de que estos sean un puente de unión entre tejidos. Esto gracias a las capacidades de compatibilidad con el organismo, ya que tiene una mayor 
                adherencia a los tejidos, así como la capacidad de integrarse con otras tecnologías.
                Además, se han estudiado compuestos naturales para la regeneración celular, ya que son más fáciles de obtener y económicos, principalmente para tejidos en donde se han obtenido resultados positivos, 
                gracias a sus propiedades antibacterianas, anticancerígenas y antiinflamatorias, entre otras. Las nano partículas del propóleo se han distinguido por una mayor capacidad de 
                atravesar la membrana celular y aplicarla en medicina regenerativa y en tejidos bio miméticos que favorezcan la reproducción celular.
                Asimismo, como parte de las aplicaciones del plasma en la nano medicina, se ha logrado desarrollar polímeros impresos en 3D que servirán para revestimientos especiales en la industria de la ortopedia, 
                así como para el crecimiento de tejidos o huesos con el uso de plasma, gracias a técnicas de avanzada en recubrimientos de diversos implantes al ser humano con esta tecnología.
                ', src='es', dest=['en']) }}</p>

            <h2>{{ translate(text='Aplicaciones', src='es', dest=['en']) }}</h2>

            <p>{{ translate(text='La nanotecnología se puede implementar en cualquier de los campos que existan en los cuales se quiera implementar tales como en construcción, creaciones grandes y 
                complejas maquinas, medicina, transporte mas seguro y rápido, esta tecnología puede servir en cualquier campo que desee implementarse, ya que es algo tan pequeño que puede acomodarse 
                al antojo y ser manejable para el cliente o usuario como una solución también al medio ambiente; en Nanotecnologo 
                significados la cual habla de las grandes implementaciones en que esta ciencia puede desarrollarse, dice lo siguiente:', src='es', dest=['en']) }}</p>

            <p><blockquote>
                {{ translate(text='El ámbito de la Medicina, la nanotecnología permite, por ejemplo, realizar diagnósticos moleculares, más precisos y complejos. De esta forma, la nanotecnología 
                ofrece la posibilidad de diagnosticar enfermedades de origen genético o infeccioso con mayor antelación. Además, el tratamiento de muchas enfermedades se ve mejorado mediante la utilización de la nanotecnología.
                Los biochips a nanoescala son un ejemplo de nanotecnología que tiene multitud de aplicaciones en el campo de la investigación médica.
                En el diagnóstico y tratamiento del cáncer, por ejemplo, la nanotecnología se está mostrando como una herramienta muy útil. Una de sus aplicaciones es la creación de nanopartículas que funcionan como 
                transportadores de fármacos dentro del organismo.
                ', src='es', dest=['en']) }}
            </blockquote> </p>

            <p>{{ translate(text='Estos avances tienen gran peso para el tema de la medicina ya que puede desarrollar nuevas curas y tener los tratamientos efectivos y eficaces para las enfermedades existes que aun no tienen 
                cura y enfermedades futuras. Estas grandes aplicaciones y nuevas funciones pueden generarnos grandes y generoso cambios a nuestros futuros
                de un Estas más próspero y desarrollado económica e industrialmente. Por otro lado, en el tema de la construcción en la cual una ciencia como esta puede alivianarnos una carga en la industria arquitectónica 
                generando materiales y construcciones más rápidas en la revista de Nuevas Tecnologías y Materiales dice lo siguiente:', src='es', dest=['en']) }}</p>

            <p><blockquote>
                {{ translate(text='La nanotecnología aplicada a la industria de la Construcción permitirá 
                la fabricación de nuevos materiales de construcción, más resistentes y dúctiles que el acero actual 
                que se emplea en la construcción, manteniendo sus propiedades resistentes a temperaturas más 
                altas y con una mayor resistencia a la corrosión, entre otras propiedades.
                ', src='es', dest=['en']) }}
            </blockquote></p>

            <div>
                <img src="\static\img\landia\uso.png" alt="usos de la nanotecnologia">
            </div>
            
            <h2>{{ translate(text='Ventajas', src='es', dest=['en']) }}</h2>
            <ul>
                <li>{{ translate(text='La escasez de agua es un problema serio y creciente. Algo que la fabricación de productos mediante la fabricación molecular podría transformar.', src='es', dest=['en']) }}</li>
                <li>{{ translate(text='Las enfermedades infecciosas que causan problemas en muchas partes del mundo.', src='es', dest=['en']) }}</li>
                <li>{{ translate(text='Con la nanotecnología, los ordenadores serían extremadamente baratos. Y también se crearían máquinas para la investigación médica y la sanidad, haciendo mucho mayor la disponibilidad de medicinas más avanzados.', src='es', dest=['en']) }}</li>
                <li>{{ translate(text='La construcción eficiente y barata de estructuras ligeras y fuertes, equipos eléctricos y aparatos para almacenar la energía permitirían el uso de energía termal solar como fuente primaria y abundante de energía.', src='es', dest=['en']) }}</li>
                <li>{{ translate(text='El desgaste medioambiental es un serio problema en todo el mundo. Nuevos productos tecnológicos permitirían que las personas viviesen con un impacto medioambiental mucho menor.', src='es', dest=['en']) }}</li>
            </ul>
            <h2>{{ translate(text='Desventajas', src='es', dest=['en']) }}</h2>
            <ul>
                <li>{{ translate(text='Se notará en cuestión de unos pocos años, con el peligro de estar la humanidad desprevenida ante los riesgos que tal impacto conlleva.', src='es', dest=['en']) }}</li>
                <li>{{ translate(text='La potencia de la nanotecnología podría ser la causa de una nueva carrera de armamentos entre dos países competidores. La producción de armas y aparatos de espionaje podría tener un coste mucho más.', src='es', dest=['en']) }}</li>
                <li>{{ translate(text='Grandes cambios desfavorables en la economía. ', src='es', dest=['en']) }}</li>
                <li>{{ translate(text='Podria ía causar importantes daños al medio ambiente.', src='es', dest=['en']) }}</li>
                <li>{{ translate(text='El intento por parte de la administración de controlar estos y otros riesgos podría llevar a la aprobación de una normativa excesivamente rígida que, a su vez, crease una demanda para un mercado negro que sería tan peligroso como imparable porque sería muy fácil traficar con productos pequeños y muy peligrosos como las nano fábricas.', src='es', dest=['en']) }}</li>
                <li>{{ translate(text='Existen numerosos riesgos muy graves de diversa naturaleza a los que no se puede aplicar siempre el mismo tipo de respuesta.', src='es', dest=['en']) }}</li>
                <li>{{ translate(text='Las soluciones sencillas no tendrán éxito. Es improbable encontrar la respuesta adecuada a esta situación sin entrar antes en un proceso de planificación meticulosa.', src='es', dest=['en']) }}</li>
            </ul>
           
        </section>
    </section>
{% endblock %}