{% extends "es_base.html" %}

{% block title %}
    Robotic Process Automatization
{% endblock %}

{% block content %}
    <!-- Contenido de la página -->
    <section class="section-article">
        <h1 class="text-center">Robotic Process Automatization</h1>
        <div class="author">
            <div class="author-img-container">
                <img class="author-img" src="/static/img/Ayuwoki.jpg" alt="">
            </div>
            <div>
                <p class="author-nombre">Autor: Efraín Araya</p>
                <p>26 de febrero, 2021</p>
            </div>
        </div>
    
        <section>
            <!-- Contenido  -->
            <p>Ejemplo de un texto</p>
            
        </section>
    </section>
{% endblock %}