/* General */
body {
    display: grid;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);

    @include media(lg) {
        --header-height: 3.5em;
    }

    @include media(xxl) {
        --header-height: 4em;
        --footer-height: 3.5em;
    }
}

section {
    padding: 1.25em var(--body-padding);

    @include media(md) {
        padding: 2em var(--body-padding);
    }

    @include media(xxl) {
        padding: 4em var(--body-padding);
    }
}

.header, .footer {
    padding: 0 var(--body-padding);
}
section, .header, .footer {
    @include media(md) {
        --body-padding: 2.5em;
    }

    @include media(lg) {
        --body-padding: 5em;
    }
    
    @include media(xl) {
        --body-padding: 10em;
    }

    @include media(xxl) {
        --body-padding: 15em;
    }
}

.side-padding {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);

    @include media(md) {
        --side-padding: 3em;
    }

    @include media(xxl) {
        --side-padding: 5em;
    }
}

.arrow-up {
    --length: 1em;
    --size: 2em;

    height: var(--size);
    width: var(--size);

    position: fixed;
    bottom: var(--length);
    right: var(--length);

    @include media(md) {
        --length: 2em;
        --size: 4em
    }
}

.text-center {
    text-align: center;
}

/* Header */
.header {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
}

.navbar {
    padding: 0;
    height: 100%;
}

/* Banner */
.main-banner {
    --padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: var(--padding);
    padding-bottom: var(--padding);

    @include media(md) {
        flex-direction: row;
    }

    @include media(lg) {
        height: 18em;
    }

    @include media(xl) {
        height: 20em;
    }
}

.main-banner div {
    flex-grow: 1;
}

.banner-title {
    align-self: center;
    text-align: center;

    @include media(md) {
        text-align: left;
    }

    @include media(lg) {
        width: 60%;
    }
    
    h1 {
        margin-bottom: .5em;
    }
}

.img-banner-container {
    display: flex;
    justify-content: center;

    @include media(lg) {
        width: 50%;
    }
}

.banner-img {
    width: 60%;

    @include media(md) {
        align-self: center;
        width: 100%;
    }

    @include media(lg) {
        max-width: 75%;
    }

    @include media(xxl) {
        align-self: initial;
    }
}

/* Main */

/* Sección 2 */
.home-article {
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);

    h2 {
        text-align: center;
    }

    p {
        text-align: justify;
    }
}

/* Sección 3 */
div .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.card {
    padding: .5em 1em;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media(lg) {
        height: 150px;
        width: 250px;
        padding: 1em 1.5em;
    }

    h3 {
        margin-bottom: 0;
    }

    p {
        text-align: center;
    }
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        margin: 0;
    }
}

/* Others */
.section-article {
    @include media(md) {
        --body-padding: 5em;
    }

    @include media(lg) {
        --body-padding: 10em;
    }

    @include media(xl) {
        --body-padding: 20em;
    }

    @include media(xxl) {
        --body-padding: 35em;
    }

    section {
        padding: initial;
    }
}

.author {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    
    @include media(md) {
        flex-direction: row;
        align-items: center;
    }
    
    p {
        font-size: .8em;
        margin-bottom: .2em;
    }   
}

.author-img-container {
    height: 3em;
    width: 3em;
    shape-outside: circle(1.5em);
    margin-bottom: .5em;

    @include media(md) {
        margin-right: 1em;
    }
}

.author-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    clip-path: circle(1.5em);
}

.author-nombre {
    font-weight: bold;
}

.youtube-video, .instagram-post {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.youtube-video {

    iframe {
        height: auto;
        width: auto;

        @include media(md) {
            height: 315px;
            width: 560px;
        }
    }
}

.instagram-post {
    width: 100%;

    blockquote {
        max-width: 100%;
    }
}

.article-banner {
    height: 15em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;

    @include media(md) {
        height: 20em;
    }
}