{% extends "en_base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<section class="section-article">
    <h1 class="text-center">{{ title }}</h1>
    <section>
        <p>
            Puede visitar nuestro repositorio en GitHub como
            <code>
            <a class="repository-link" href="https://github.com/ArturoMorales93/Plataformas_II_Project">Plataformas_II_Project</a>
            </code>.
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt eum aspernatur impedit? Saepe ratione modi
            amet, quae nisi obcaecati quisquam dolores tempore! Optio incidunt, placeat officiis explicabo nostrum animi
            aliquam.</p>
    </section>
</section>
{% endblock %}